



{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title %}
 Checkout
{% endblock %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% block container_block %}
<style media="screen">

div.jumbotron{
  margin:100px 100px 200px 200px;

}

</style>

<div class=" container-fluid">



   <!-- /.col-lg-3 -->

          <div class="jumbotron">
            <h1>Your payment has not been processed</h1>
             <p>There was a problem processing your payment.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/" role="button">Continue Shopping</a>
            </p>
          </div>


     <!-- /.row -->


   <!-- /.col-lg-9 -->

 <!-- /.row -->

</div>
<!-- /.container -->




{% endblock %}
