
{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title %}
 Checkout
{% endblock %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% block container_block %}
<style media="screen">

div.jumbotron{
  margin:100px 100px 200px 200px;

}

</style>

<div class=" container-fluid">


          <div class="jumbotron">
            <h1>Your payment was successful</h1>
            <p>Your payment has been successfully received.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/" role="button">Continue Shopping</a>
            </p>
          </div>


</div>
<!-- /.container -->

{% endblock %}
