<!DOCTYPE html>
{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title %}Log-in{% endblock %}
{% block container_block %}
  <div class="container">
      {% if messages %}
         {% for message in messages %}

    <div class="alert alert-{{message.tags }}">
      {{message}}
    </div>

         {% endfor %}
      {% endif %}

    </div>

    <div class="loginBox">
<h2>Sign Up Here</h2>
<form class="" method="post">
  {{form.as_p}}

  {% csrf_token %}
  <input type="submit" name=""  value="Sign Up">
  <strong style="color:powderblue;">Already Have An Account?</strong> <a href="/accounts/login">Sign In</a>
</form>

    </div>
  </body>
</html>
